.marketing{
    padding-top: 114px;
    padding-bottom: 114px;
    background-color: #617E8C;
    width: 100%;
    color: white;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.pin-info-landing{
    width: 60px;
    height: 60px;
    display: inline-block;

}

#landing-circle {
	width: 20px;
	height: 20px;
    line-height: 20px;
	background: #FF5722;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    color: white;
    text-align: center;
}

.email-signup {
    padding-top: 114px;
    padding-bottom: 114px;
    text-align: center;
    background-color: white;
    width: 100%;
    margin: auto;
}

.email-signup h1{
    font-weight: 400;
    font-size: 35px;
}

.email-signup input-group{
    align-content: center;
}

#login-error{
    color: red;
}

.input-group-btn .btn{
    background: #FF5722;
    color: #FFFFFF;
}

.btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised).btn-default{
    color: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
}

.navbar-toggle{
    background-color:#617E8C;
}

.sub-navigation
{
    background:#fff;
    box-shadow:0 0 50px 100px transparent;
    height:0;
    opacity:0;
    overflow:scroll;
    padding-top:61px;
    position:fixed;
    right:0;
    top:0;
    width:0
}
.my-popover-content {
    display:none;
}

.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}

#latesttransactions{
        background-color: #FF5722;
        color: white;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase;
}

#latesttransactionsgraph{
        background-color: #50E3C2;
        color: white;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase;
}

#latesttransactionsgraph-body{
    /*height: 500px;*/
}

#transferpanel{
        background-color: #617E8C;
        color: white;
        font-weight: 500;
        padding: 20px;
        text-transform: uppercase;
}

.table>tbody>tr>td {
    padding: 20px;
}

.btn:not(.btn-raised).btn-primary{
    background-color: #617E8C;
    color: white;
}

.btn:not(.btn-raised).btn-primary:hover{
    background-color: #3f525c;
    color: white;
}

.btn:not(.btn-raised).btn-inverse{
    background-color: #FF5722;
    color: white;
}

.btn:not(.btn-raised).btn-danger{
    background-color: #DA364A;
    color: white;
}

.btn:not(.btn-raised).btn-danger:hover{
    background-color: #891927;
    color: white;
}

.btn:not(.btn-raised).btn-inverse:hover{
    background-color: #ac3a16;
    color: white;
}


.input-group-btn .btn:not(.btn-raised):not(.btn-link):focus {
  background-color: rgba(250, 0, 0, 0.2);
}

.input-group-btn .btn:not(.btn-raised):not(.btn-link):hover {
  background-color: #ac3a16;
}

.nav{
    background-color:transparent;
}

.top-header{
    background-color: #DFE5E8;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 5px;
}

#sub-nav{
    background-color:transparent;
    bottom:0;
    list-style-type: none;
    padding-right: 93px;
    margin-top: 70px;
    position: relative;
}

#sub-nav > li{
    left: auto;
    border-left: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.nav>li>a{
    padding: 10px 0px 10px 0px;
}

#linkUnderline{
    border-bottom: 2px solid #FF5722;
    color: black;
    padding: 0px 0px 10px 0px;
}


.product-logo{
    padding-left: 20px;
}

ul, menu, dir {
    -webkit-padding-start: 0px;
}

.container{
    /*width: 100%;*/
}

body{
    top:0px;
    margin: 0px;
}


.navbar{
    margin-bottom: 0px;
}

#sub-nav a{
    color: #707070;
}

#product-logo{
    vertical-align: top;
    
}

#user-account{
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0px 30px;
}

#user-account > .user-item{
    display: inline-block;
    border-left: 0px;
    margin: 0px 15px;
    padding: 15px 0px;
    position: static;
    border-color: black;
}

#user-account > .user-item img{
    margin-top: -25px;
}

.fa-cog{
    font-size: 25px;
    color: #707070;
}

#currentBalance{
    font-size: 22px;
    font-weight: 700;
    padding: 0px 0px;
}

.panel>.list-group .list-group-item{
    padding: 20px 0px 20px 20px;
}

.list-group .list-group-item .list-group-item-heading{
    font-weight: 700;
}

.subheading-list{
    margin: -10px 0px 0px 0px;
}

a.list-group-item.panel-list-item{
    border-bottom: 1px solid #ddd;
}

#cancelbtn{
    /* Rectangle 21: */
    background: #DA364A;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
    /* CANCEL: */
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
}


.btn:not(.btn-raised).btn-primary{
    /* Rectangle 21: */
    background: #617E8C;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
    /* NEXT: */
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
}

.panel{
    margin-top: 20px;
}

.panel>.table{
    background-color: #DFE5E8;
    border:0; 
    border-collapse:separate; 
    border-spacing:0 5px;
}

.panel>.table>thead>tr>th{
   padding: 20px 0px 0px 20px; 
}

.panel>.table>tbody>tr>td{
    
}

.subheading-text{
    margin-top: -20px;
}

.table>thead>tr>th{
    border-bottom: 0px;
    border-top: 0px;
    border-collapse:separate; 
    border-spacing:5px 5px;
} 

.panel>.table>tbody>tr>td{
    border-top: 0px solid #4d4d4d; 
    border-collapse:separate;
    border-spacing:5px 5px;
}

.student-pin{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.disabled{
    background-color: #E0E0E0;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 0px;
}

.input-group .input-group-addon{
    /*background-color: #FF5722;
    color: white;*/
}

#id-pin-confirm input{
    width: 40px;
    height: 40px;
}

#circle {
	width: 30px;
	height: 30px;
	background: #FF5722;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    color: white;
    padding-top: 7.5px;
    text-align: center;
}

footer{
    padding: 20px 0px 20px 20px;
    background-color: #4A4A4A;
    color: white;
    bottom: 0;
    position: relative;
    width: 100%;
}

footer li{
    list-style: none;
    color: white;
}

footer li a{
    color: white;
}

.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

#banksy-logo{
    margin-left: 10px;
    width: 100px;
    height:auto;
}

#homepage-header{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #DFE5E8;
    width: 100%;
}

.jumbotron h1{
    font-size: 38px;
}

 body .container .jumbotron{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    background-color:transparent;
     display: block;
     position: relative;
}

.form-group label{
    color: #333;
}

#signupbtn{
    /* Rectangle 21: */
    background: #FF5722;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    border-radius: 2px;
    /* CANCEL: */
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
}

#forgotLink{
    color: #707070;
}

body .container .jumbotron p{
    margin-bottom: -5px;
    font-size: 16px;
    display: block;
}

#myLineChart{
    margin: auto;
    height: 350px;
}

#banner-hero {
        display: none;
        
    }

.container-fluid{
    padding-left: 10px;
}

@media (min-width: 768px){
    /*.bannerSection .heroimage{
        left:auto;right:0;
        width: 50%;
        top: 0;
        bottom:0;
    }
    .heroimage{
        background-image: url(../images/overview-hero_1x.jpg);
        background-position: 50% 0%;
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        display: block;

    }*/
    
    #banksy-logo{
        margin-left: 20px;
        width: 142px;
        height: auto;
    }
    
    #sub-nav > li{
        display: inline-block;
        left: auto;
        border-left: 0px;
        margin: 0px 20px;
        padding: 0px 0px;
    }

    #linkUnderline{
        border-bottom: 2px solid #FF5722;
        color: black;
    }
    
    .desktop-settings{
        display: none;
    }
    
    #banner-hero {
        display:block;
        overflow: hidden;
        
    }
    
    #banner-hero img{
        height: auto;
        width: 882px;
        
    }
    .container-fluid{
    padding-left: 55px;
    }
    
    #id-pin-confirm input{
    width: 50px;
    height: 50px;
}
    
}


input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
    
}
input[type="text"]:focus {
  outline: none;
}

input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
}

select {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
}

input[type="number"]:focus {
  outline: none;
}

div.error{
    color: red;
    padding-left: 10px;
}

input.error{
    border: 2px solid red;
}

.form-control error{
    border: 2px solid red;
}
        
input.error:focus{
    border: 2px solid red;
}

label.error {
  display: none !important;
}

.form-control, .form-group .form-control{
    border: 1px;
}

select.error {
    border: 2px solid red;
}
